*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


#hero-sec{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) url(images/hero2-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken; 
}

hr{
    color: rgb(88, 88, 88);
    height: 2px;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7) url(images/hero-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    justify-content: center;
}

.logo{
    font-size: 28px;
    color: white;
    pointer-events: none;
    color: rgb(219, 219, 219);
    font-family: sans-serif;
    text-shadow: 1px 1px 1px white,
    1px 1px 1px rgb(126, 126, 126);
}

nav{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
    padding: 0 10px;
}

ul li a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
    transition: all .9s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border: none;
    padding: 10px 10px;
}


li a:hover{
    color: black;
    background: lavender;
    font-weight: 500;
    border: 2px solid rgb(0, 0, 0);
}



.sides{
    height: 80%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.right{
    margin-bottom: 40px;
}

.right h1{
    color: rgb(172, 172, 172);
    font-size: 2.7em;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px white,
    1px 1px 1px white;
}

.right p{
    color: white;
    font-family: monospace;
    font-size: 1.5em;
}

.left img{
    width: 75%;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 5px 4px 2px white;
}


.right button{
    padding: 6px 10px;
    margin: 10px 4px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border-radius: 10px;
    border: 2px solid white;
    overflow: hidden;
    color: white;
    position: relative;
    transition: all 1s;
}

.right .btn1::after{
    content: '';
    position: absolute;
    top: 0;
    left: -300px;
    width: 100px;
    height: 35px;
    background: white;
    transform: skewX(20deg);
    transition: all .7s;
    opacity: 0.5;
}


.right .btn2::after{
    content: '';
    position: absolute;
    top: 0;
    left: -300px;
    width: 60px;
    height: 35px;
    background: white;
    transform: skewX(20deg);
    transition: all .7s;
    opacity: 0.5;
}

.right button:hover::after{
    left: -10px;
}


.pro-sec h1{
    color: rgb(66, 66, 66);
    font-family: fantasy;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px black,
    1px 1px 1px black;
}

.pro-sec{
    width: 100%;
    padding-top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #d4d4d4;
}

.pro-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.pro{
    width: 400px;
    height: 100%;
    overflow: hidden;
    margin: 20px 10px;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 10px;
    box-shadow: 6px 6px 2px #000;
    background-color: rgb(216, 216, 216);
    transition: all .5s;
}

.pro:hover{
    transform: scale(1.1);
}

.pro1:hover{
    margin-left: 25px;
}

.pro4:hover{
    margin-right: 25px;
}


.pro-cont .pro img{
    width: 100%;
}

.paras{
    padding: 10px;
}

.paras h3{
    margin-bottom: 5px;
    font-size: 18px;
    font-family: cursive;
}

.paras p{
    font-size: 16px;
    font-family: serif;
    color: rgb(63, 63, 63);
    font-weight: 700;
}



/* Style the Contact Us section */
.contact {
    background-color: #333;
    width: 100%;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

/* Style the Contact Us content */
.contact-content {
    z-index: 1;
    padding: 20px;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    font-family: fantasy;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(165, 165, 165),
    1px 1px 1px rgb(168, 168, 168);
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: cursive;
}

::-moz-placeholder{
    font-size: 18px;
    font-family: monospace;
}

/* Style the contact form */
form {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    font-family: cursive;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

.fa{
    position: absolute;
    font-size: 20px;
    color: #afafaf;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    pointer-events: none;
}

.fa-user{
    top: 12px;
    right: 20px;
}

.fa-envelope{
    top: 76px;
    right: 20px;
}

.fa-message{
    top: 145px;
    right: 20px;
}

textarea {
    height: 150px;
    resize: none;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #e6e6e6;
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s ease;
}

input[type="submit"]:hover {
    background-color: #555;
    color: rgb(255, 255, 255);
}

.pro .paras a{
    color: #044269;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 2px;
}

.footer{
    background: #d8d8d8;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    font-family: fantasy;
}

.footer h3 span{
    color: red;
    font-size: 20px;
}